#svgCanvas{
  margin-left: 10%
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bgDot {
  stroke: none;
  fill: #D45D3F;
}

.clockCircle {
  fill: none;
  stroke: #e8e8e3;
}

.clockArc {
  fill: none;
  stroke: #1bbccb;
}

.clockDot {
  fill: #e9fafc;
}

#hourNumbers {
  font-family: Segoe UI,Helvetica,Arial;
  font-size: 1.5rem;
  font-weight: 600;
  fill: black;
}

#minNumbers {
  font-family: Segoe UI,Helvetica,Arial;
  font-weight: 200;
  fill: black;
}
